#gameView {
    width: 1200px;
    height: 600px;
    cursor: default;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#gameViewOffsetter {
    height: 80px;
}

#liverCells {
    background-image: url("assets/liver_text.png"), url("assets/liver.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 60%;
    background-position: top 25px left 145px, left top;
    padding-top: 80px;
    padding-left: 50px;
}

#lungCells {
    background-image: url("assets/lung_text.png"), url("assets/lung.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 60%;
    background-position: top 25px left 102px, top;
    padding-top: 80px;
}

#intestineCells {
    background-image: url("assets/intestine_text.png"), url("assets/intestine.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 66%, 60%;
    background-position: top 25px left 42px, right top;
    padding-top: 80px;
    padding-right: 50px;
}

.tissueCellColumn {
    flex-grow: 1;
    margin: 2px;
    border-radius: 6px;
    background-color: white;
}

.virus {
    background-image: url("assets/virus.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px 3px;
}

.cytokine-red {
    background-image: url("assets/cytokine-red.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-3 {
    background-image: url("assets/cytokine-red-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-2 {
    background-image: url("assets/cytokine-red-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-1 {
    background-image: url("assets/cytokine-red-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue {
    background-image: url("assets/cytokine-blue.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-3 {
    background-image: url("assets/cytokine-blue-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-2 {
    background-image: url("assets/cytokine-blue-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-1 {
    background-image: url("assets/cytokine-blue-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange {
    background-image: url("assets/cytokine-orange.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-3 {
    background-image: url("assets/cytokine-orange-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-2 {
    background-image: url("assets/cytokine-orange-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-1 {
    background-image: url("assets/cytokine-orange-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.antibodies-liver {
    background-image: url("assets/antibodies-liver.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 13px 3px;
}

.antibodies-lung {
    background-image: url("assets/antibodies-lung.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 15px 4px;
}

.antibodies-intestine {
    background-image: url("assets/antibodies-intestine.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 3px;
}

.virus-removal {
    background-image: url("assets/virus-removal.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px 3px;
}