body {
    margin: 0px;
    padding: 0px;
    background-color: #1e3561;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

div {
    margin: 0px;
    padding: 0px;
}

.footnote {
    margin: 2%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#introText {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: x-large;
}

#gameTitle {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#gameTitleBanner {
    max-width: 800px;
    min-width: 800px;
}

.justifiedIntroText {
    width: 1200px;
    margin: 0 auto;
    text-align: justify;
    border: 2px ridge grey;
    border-radius: 16px;
    padding: 2%;
}

.title {
    margin-top: 2%
}

#gameView {
    width: 1200px;
    height: 600px;
    cursor: default;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.tissueCellGrid {
    height: 100%;
    flex-grow: 12;
    display: flex;
    flex-direction: column;
}

#liverCells {
    background-image: url("assets/liver_text.png"), url("assets/liver.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 60%;
    background-position: top 25px left 145px, left top;
    padding-top: 80px;
    padding-left: 50px;
}

#lungCells {
    background-image: url("assets/lung_text.png"), url("assets/lung.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 60%;
    background-position: top 25px left 102px, top;
    padding-top: 80px;
}

#intestineCells {
    background-image: url("assets/intestine_text.png"), url("assets/intestine.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 66%, 60%;
    background-position: top 25px left 42px, right top;
    padding-top: 80px;
    padding-right: 50px;
}

.tissueCellSpacer {
    height: 100%;
    flex-grow: 1;
}

.tissueCellRow {
    display: flex;
    flex-grow: 1;
}

.tissueCellColumn {
    flex-grow: 1;
    margin: 2px;
    border-radius: 6px;
    background-color: white;
}

.tissueCellColumnLiver {
    border: solid 2px #0b8e36;
}

.tissueCellColumnLung {
    border: solid 2px #e6007e;
}

.tissueCellColumnIntestine {
    border: solid 2px #c99e67;
}

.tissueCellColumnBlack {
    border: solid 2px black;
}

.virus {
    background-image: url("assets/virus.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px 3px;
}

.cytokine-red {
    background-image: url("assets/cytokine-red.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-3 {
    background-image: url("assets/cytokine-red-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-2 {
    background-image: url("assets/cytokine-red-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-red-1 {
    background-image: url("assets/cytokine-red-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue {
    background-image: url("assets/cytokine-blue.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-3 {
    background-image: url("assets/cytokine-blue-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-2 {
    background-image: url("assets/cytokine-blue-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-blue-1 {
    background-image: url("assets/cytokine-blue-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange {
    background-image: url("assets/cytokine-orange.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-3 {
    background-image: url("assets/cytokine-orange-3.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-2 {
    background-image: url("assets/cytokine-orange-2.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.cytokine-orange-1 {
    background-image: url("assets/cytokine-orange-1.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 12px 6px;
}

.antibodies-liver {
    background-image: url("assets/antibodies-liver.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 13px 3px;
}

.antibodies-lung {
    background-image: url("assets/antibodies-lung.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 15px 4px;
}

.antibodies-intestine {
    background-image: url("assets/antibodies-intestine.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 3px;
}

.virus-removal {
    background-image: url("assets/virus-removal.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px 3px;
}

/*
.tissueCellColumn:hover {
    padding: 2px;
    border: solid 2px lightskyblue;
}
*/

.nogrow {
    overflow: hidden;
}

.panel {
    text-align: center;
    margin: 2em;
}

.big {
    font-size: x-large;
}

.center {
    text-align: center;
}

.buttonPanel {
    background-color:rgb(89, 138, 139);
    padding: 2em;
    display: inline-block;
}

.buttonHolder {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    display: flex;
    flex-direction: row;
}

.button {
    background-color:green;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: default;
    text-align: center;

    border-radius: 16px;
    box-shadow: 3px 3px 0 0 rgb(6, 167, 6);
}

.marginButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cancel {
    background-color: rgb(223, 39, 39);
    box-shadow: 3px 3px 0 0 rgb(250, 53, 53);
}

.flex1 {
    flex-grow: 1;
}

.flex10 {
    flex-grow: 10;
}

#boardText {
    color: white;
    margin: 0.5em;
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
    cursor: default;
    text-align: center;
}

#immuneCardPanel {
    display: flex;
}

.cardContainer {
    flex-grow: 1;
    display: inline-flex;
    margin: 10px;
    cursor: default;
}

.card {
    display: inline-block;

    width: 100px;
    max-width: 100px;
    height: 140px;
    max-height: 140px;

    border: solid 1px white;
    border-radius: 10px;

    background: rgb(212,180,128);
    background: linear-gradient(298deg, rgba(212,180,128,1) 0%, rgba(246,218,195,1) 86%, rgba(252,214,185,1) 100%);

    color: black;
    text-transform: uppercase;
    font-size: large;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    position: relative;

    background-size: cover;
}

.activeCard {
    width: 80px;
    max-width: 80px;
    height: 112px;
    max-height: 112px;
}

.cardText {
    margin-top: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.card:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

.cardBlowUp {
    position: absolute;
    top: 80px;
    left: -90px;

    width: 296px;
    max-width: 296px;
    height: 473px;
    max-height: 473px;
    z-index: 8;

    border-radius: 10px;
    border: solid 1px white;

    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.4);
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

/* --- */
/* The snackbar - position it at the bottom and in the middle of the screen */
/* --- */
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */

    left: 50%;
    min-width: 800px;
    max-width: 800px;
    margin-left: -400px;
    width: auto;
    background-color: rgb(236, 154, 0);

    color: #fff; /* White text color */
    font-size: x-large;
    text-align: center; /* Centered text */
    border-radius: 8px; /* Rounded borders */
    padding: 20px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10;
    top: 50%;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  /*-webkit-animation: fadein 0.5s, fadeout 0.5s 1.7s;*/
}

.snackbar.showLong {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 4.6s;
  /*-webkit-animation: fadein 0.5s, fadeout 0.5s 1.7s;*/
}

/* Animations to fade the snackbar in and out */
/*
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 400px; opacity: 1;}
}
*/

@keyframes fadein {
  from {top: 0%; opacity: 0;}
  to {top: 50%; opacity: 1;}
}

@keyframes fadeout {
  from {top: 50%; opacity: 1;}
  to {top: 0%; opacity: 0;}
}

/* --- */
/* Card Display */
/* --- */

#chooseCardDisplay {
    visibility: hidden; /* Hidden by default. Visible on click */

    left: 50%;
    min-width: 700px;
    max-width: 700px;
    margin-left: -350px;
    width: auto;
    background-color:tomato;

    color: black;
    text-align: center; /* Centered text */
    border-radius: 16px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 6;
    top: 12%;

    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

#chooseCardDisplay.show {
  visibility: visible;
  -webkit-animation: cardDisplayFadein 0.5s;
  animation: cardDisplayFadein 0.5s;
}

@-webkit-keyframes cardDisplayFadein {
  from {top: -50%; opacity: 0;}
  to {top: 12%; opacity: 1;}
}

@keyframes cardDisplayFadein {
  from {top: -50%; opacity: 0;}
  to {top: 12%; opacity: 1;}
}

.cardPanelTitle {
    font-size: large;
}

.highlight {
    background-color: red;
}

.noICursor {
    cursor: default;
}

.tropismPresent {
    border: solid 2px red;
}

.tropismNotPresent {
    border: solid 2px grey;
}