body {
    margin: 0px;
    padding: 0px;
    background-color: #1e3561;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

div {
    margin: 0px;
    padding: 0px;
}

.footnote {
    margin: 2%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#gameTitle {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#gameView {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainGrid {
    /* Needs tweaking to put grid onto game board */
    width: 1205px;
    height: 696px;
    background-image: url("assets/game-board.png");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.tissue {
    height: 100%;
}

#liverTissue {
    /* Needs tweaking to put grid onto game board */
    margin-left: 41px;
    margin-right: 32px;
}

#lungTissue {
    /* Needs tweaking to put grid onto game board */
    margin-left: -19px;
    margin-right: -19px;
}

#intestineTissue {
    /* Needs tweaking to put grid onto game board */
    margin-left: 32px;
    margin-right: 54px;
}

.tissueTitle {
    /* Apparently just how you center align (in both dims) things. */
    width: 100%;
    /* Needs tweaking to put grid onto game board */
    height: 130px;
}

.tissueCellGrid {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    cursor: default;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Needs tweaking to put grid onto game board */
    height: 572px;
}

/* technically it's a single tissue cell itself! */
.tissueCellColumn {
    border: solid 1px transparent;

    text-align: center;
}

.virus {
    background-image: url("assets/virus.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.cytokine-red {
    background-image: url("assets/cytokine-red.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.cytokine-blue {
    background-image: url("assets/cytokine-blue.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.cytokine-green {
    background-image: url("assets/cytokine-green.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.antibodies-liver {
    background-image: url("assets/antibodies-liver.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.antibodies-lung {
    background-image: url("assets/antibodies-lung.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.antibodies-intestine {
    background-image: url("assets/antibodies-intestine.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.virus-removal {
    background-image: url("assets/virus-removal.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

/*
.tissueCellColumn:hover {
    padding: 2px;
    border: solid 2px lightskyblue;
}
*/

.nogrow {
    overflow: hidden;
}

.panel {
    text-align: center;
    margin: 2em;
}

.big {
    font-size: 2em;
}

.buttonPanel {
    background-color:rgb(89, 138, 139);
    padding: 2em;
    display: inline-block;
}

.button {
    background-color:green;
    color: white;
    margin: 1em;
    padding: 1em;
    cursor: default;
    text-align: center;
}

#boardText {
    color: white;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;
    cursor: default;
    text-align: center;
}

#immuneCardPanel {
    display: flex;
}

.cardSpacer {
    min-height: 200px;
    max-height: 200px;
}

.cardContainer {
    flex-grow: 1;
    display: inline-flex;
    margin: 10px;
    cursor: default;
}

.card {
    display: inline-block;

    width: 125px;
    max-width: 125px;
    height: 175px;
    max-height: 175px;

    border: solid 1px;
    border-radius: 10px;

    background: rgb(212,180,128);
    background: linear-gradient(298deg, rgba(212,180,128,1) 0%, rgba(246,218,195,1) 86%, rgba(252,214,185,1) 100%);

    color: black;
    text-transform: uppercase;
    font-size: 1em;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    position: relative;
}

.cardText {
    margin-top: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.card:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

.cardBlowUp {
    position: absolute;
    top: 80px;
    left: -90px;

    width: 296px;
    max-width: 296px;
    height: 473px;
    max-height: 473px;
    z-index: 6;

    border-radius: 10px;

    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.4);
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

/*.virusIcon {
    width: 32px;
    height: 32px;
    z-index: 6;
}*/

/* --- */
/* The snackbar - position it at the bottom and in the middle of the screen */
/* --- */
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */

    left: 50%;
    min-width: 800px;
    max-width: 800px;
    margin-left: -400px;
    width: auto;
    background-color: orange;

    color: #fff; /* White text color */
    font-size: 3em;
    text-align: center; /* Centered text */
    border-radius: 8px; /* Rounded borders */
    padding: 20px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10;
    top: 30%;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  /*-webkit-animation: fadein 0.5s, fadeout 0.5s 1.7s;*/
}

/* Animations to fade the snackbar in and out */
/*
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 400px; opacity: 1;}
}
*/

@keyframes fadein {
  from {top: 15%; opacity: 0;}
  to {top: 30%; opacity: 1;}
}

/*
@-webkit-keyframes fadeout {
  from {top: 400px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
*/

@keyframes fadeout {
  from {top: 30%; opacity: 1;}
  to {top: 15%; opacity: 0;}
}

/* --- */
/* Card Display */
/* --- */

#chooseCardDisplay {
    visibility: hidden; /* Hidden by default. Visible on click */

    left: 50%;
    min-width: 700px;
    max-width: 700px;
    margin-left: -350px;
    width: auto;
    background-color:tomato;

    color: black;
    text-align: center; /* Centered text */
    border-radius: 16px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 8;
    top: 40%;

    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

#chooseCardDisplay.show {
  visibility: visible;
  -webkit-animation: cardDisplayFadein 0.5s;
  animation: cardDisplayFadein 0.5s;
}

@-webkit-keyframes cardDisplayFadein {
  from {top: 10%; opacity: 0;}
  to {top: 40%; opacity: 1;}
}

@keyframes cardDisplayFadein {
  from {top: 10%; opacity: 0;}
  to {top: 40%; opacity: 1;}
}